.blacked{
    background-color: black;
    color: white;
}
.left{
    font-family: 'Niconne', cursive;
    font-size: 40px;
}

.right {
    color: white;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 20px;
    list-style: none;
}

@media (max-width: 576px) {
    .nav-item{
        width: 100%;
        margin-bottom: 5px;
        border-bottom: groove;
        text-align: center;
    }
}

.right a{
    color:white;
}
.right a:visited{
    color: white;
}

.right a:hover{
    color: gray;
}

.soon{
    font-size: 60px;
}
.lower{
    margin-top: 2rem;
}

.carousel-item {
    height: auto;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.break{
    padding-top: 120px;
}

.slide{
    height: 400px;
}

.emptybox{
    background-color: white;
    height: 150px;
    border-radius: 40px;
}
